<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.zuehlke.contacts.ui.intent">
      <contactIntent
            class="com.zuehlke.contacts.ui.intent.skype.SkypeCallIntent"
            field="phone"
            id="com.zuehlke.contacts.ui.intent.skype"
            label="Skype">
      </contactIntent>
   </extension>

</plugin>
