<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.zuehlke.contacts4.ui.intent">
      <contactIntent
            class="com.zuehlke.contacts4.ui.intent.skype.SkypeCallIntent"
            field="phone"
            id="com.zuehlke.contacts.ui.intent.skype.call"
            label="Call via Skype">
      </contactIntent>
      <contactIntent
            class="com.zuehlke.contacts4.ui.intent.skype.SkypeSmsIntent"
            field="phone"
            id="com.zuehlke.contacts.ui.intent.skype.sms"
            label="Send SMS">
      </contactIntent>
   </extension>

</plugin>
