<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Contacts"
            id="com.zuehlke.contacts.ui">
      </category>
      <view
            allowMultiple="false"
            category="com.zuehlke.contacts.ui"
            class="com.zuehlke.contacts.ui.view.CustomerListView"
            icon="icons/customers.gif"
            id="com.zuehlke.contacts.ui.customerlist"
            name="Customers"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.zuehlke.contacts.perspective">
         <view
               closeable="false"
               id="com.zuehlke.contacts.ui.customerlist"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.zuehlke.contacts.ui.customerlist">
         <command
               commandId="com.zuehlke.contacts.ui.customeredit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.zuehlke.contacts.service.dto.Customer">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.zuehlke.contacts.ui.customeredit"
            name="Edit Customer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.zuehlke.contacts.ui.handler.CustomerEditHandler"
            commandId="com.zuehlke.contacts.ui.customeredit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.zuehlke.contacts.ui.editor.CustomerEditor"
            default="false"
            id="com.zuehlke.contacts.ui.editor.customer"
            name="Customer Editor">
      </editor>
      <editor
            class="com.zuehlke.contacts.ui.editor.ContactEditor"
            default="false"
            id="com.zuehlke.contacts.ui.editor.contact"
            name="Contact Editor">
      </editor>
   </extension>

</plugin>
