<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="intent" name="Contacts Intent" schema="schema/intent.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Contacts"
            id="com.zuehlke.contacts.ui">
      </category>
      <view
            allowMultiple="false"
            category="com.zuehlke.contacts.ui"
            class="com.zuehlke.contacts.internal.ui.view.CustomerListView"
            icon="icons/customers.gif"
            id="com.zuehlke.contacts.ui.customerlist"
            name="Customers"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.zuehlke.contacts.perspective">
         <view
               closeable="false"
               id="com.zuehlke.contacts.ui.customerlist"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.zuehlke.contacts.ui.customerlist">
         <command
               commandId="com.zuehlke.contacts.ui.edit"
               label="Edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.zuehlke.contacts.ui.new"
               label="New Contact"
               style="push">
            <parameter
                  name="type"
                  value="contact">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.zuehlke.contacts.service.dto.Customer">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.zuehlke.contacts.ui.customerlist"
            sibling_order="&lt;separator&#x0D;&#x0A;               name=&quot;com.zuehlke.contacts.ui.separator1&quot;&gt;&#x0D;&#x0A;         &lt;/separator&gt;">
         <command
               commandId="com.zuehlke.contacts.ui.new"
               icon="icons/customer.gif"
               label="New Customer"
               style="push">
            <parameter
                  name="type"
                  value="customer">
            </parameter>
         </command>
         <separator
               name="separator"
               visible="true">
         </separator>
         <command
               commandId="com.zuehlke.contacts.ui.refresh"
               icon="icons/Refresh-icon.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.zuehlke.contacts.ui.edit"
            name="Edit">
      </command>
      <command
            id="com.zuehlke.contacts.ui.new"
            name="New">
         <commandParameter
               id="type"
               name="Type"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.zuehlke.contacts.ui.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.zuehlke.contacts.internal.ui.handler.EditHandler"
            commandId="com.zuehlke.contacts.ui.edit">
      </handler>
      <handler
            class="com.zuehlke.contacts.internal.ui.handler.NewHandler"
            commandId="com.zuehlke.contacts.ui.new">
      </handler>
      <handler
            class="com.zuehlke.contacts.internal.ui.handler.RefreshHandler"
            commandId="com.zuehlke.contacts.ui.refresh">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.zuehlke.contacts.internal.ui.editor.CustomerEditor"
            default="false"
            id="com.zuehlke.contacts.ui.editor.customer"
            name="Customer Editor">
      </editor>
      <editor
            class="com.zuehlke.contacts.internal.ui.editor.ContactEditor"
            default="false"
            id="com.zuehlke.contacts.ui.editor.contact"
            name="Contact Editor">
      </editor>
   </extension>

</plugin>
